
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%; /*you can never be bigger than your parent - this is going to stop that dreaded horizontal scroll bar*/
  /* border: 1px solid gray; */
}
/*general styles*/
html {
  font-size: 62.5%; /* 1 rem = 10px */
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
  /* color: #4f4f4f; */
}
h1,
h2,
h3 {
  letter-spacing: 3px;
  /* text-align: center; */
}
h1 {
  font-size: 5rem;
  /* color: white; */
}
h2 {
  font-size: 4rem;
  /* color: black; */
}
h3 {
  font-size: 2.5rem;
  /* color: black; */
}
a {
  text-decoration: none;
  /* color: black; */
  font-size: 1.5rem;
}
/* button {
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: pink;
} */
section {
  padding: 4% 0;
}

/* css section */

header{
  background-color: lightgray;
  padding: 20px;
}
footer{
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
}
.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.top-description{
  width: 50%;
  padding: 25px;
  text-align: left;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}
button{
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}
button:hover{
  background-color: black;
  color: white;
}
button a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  header{
      /* background-color: lightgray; */
      display: flex;
      flex-direction: column;
      align-items: center;
      /* padding: 20px; */
    }
    nav{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 5px;
    }
  .top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .column{
    display: flex;
    justify-content: space-evenly;
  }
  .row{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 500px) {
  .top-description{
    width: 70%;
    padding: 10px;
  }
}