header{
  background-color: lightgray;
  padding: 20px;
}
footer{
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
}
.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.top-description{
  padding: 20px;
  text-align: left;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}
button{
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}
button:hover{
  background-color: black;
  color: white;
}
button a{
  text-decoration: none;
  color: inherit;
}